<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails de Connexion</title>
</head>
<body>
    <h1>Bienvenue, {{ username }}!</h1>    
    <p>POSGPT vous invite à rejoindre votre organisation et à obtenir l'accès au back office POSGPT</p>
    
    <ul>
        <li><strong>Nom d'utilisateur :</strong> {{username}}</li>
        <li><strong>Mot de passe temporaire :</strong> {{password}}</li>
    </ul>
    
    <p>Pour accéder en toute sécurité à votre compte, veuillez cliquer sur le bouton ci-dessous :</p>
    
    <a href="[URL de Connexion]" style="background-color: #4CAF50; color: white; padding: 12px 20px; text-align: center; text-decoration: none; display: inline-block; border-radius: 5px;">CREER UN COMPTE</a>
    
    <p>Une fois connecté, vous serez invité(e) à créer un nouveau mot de passe pour votre compte.</p>
    
    <p>Si vous avez des questions ou avez besoin d'aide supplémentaire, n'hésitez pas à contacter notre équipe de support par e-mail à l'adresse <a href="mailto:[Adresse e-mail du support]">[Adresse e-mail du support]</a> ou par téléphone au [Numéro de téléphone du support].</p>
    
    <p>Nous vous remercions d'avoir choisi [Nom de Votre Entreprise]. Nous sommes impatients de vous servir !</p>
    
    <p>Cordialement,<br>
    [Votre Nom]<br>
    [Votre Poste]<br>
    [Vos Coordonnées]</p>
</body>
</html>
